@import './variables.css';
@import './header.css';
@import './navigation.css';
@import './blog.css';
@import './sidebar.css';
@import './comments.css';
@import './footer.css';
@import './contact.css';
/*****************************************************************************/
/***************************      ONDE DEFAULT STYLE       ****************************/
/*****************************************************************************/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--default-orange-color);
    background: linear-gradient(90deg, rgba(252,142,69,1) 0%, rgba(244,191,15,1) 34%, rgba(255,153,0,1) 100%);
    border-radius: 10px;
  }
  
* {
    box-sizing:border-box;
}
body {
    background:var(--default-dark-color);
    color:#fff;
    overflow:auto;
}


ul {
    margin: 0 0 1.5em 3em;
}
/**************** overriding guttemberg search form **********************************/

.wp-block-search.aligncenter .wp-block-search__inside-wrapper {
    margin: auto;
}

.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper {
    padding:unset;
    border:none!important;
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__input {
    border-radius: 4px!important;
    border: 1px solid #949494!important;
    padding: 0.75em 0.5em!important;
}
.wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper .wp-block-search__button {
    padding: 1.2rem!important;
}
/***************************************************************************************************/
strong {
    font-weight:bold;
}
body.nav-opened {
    overflow:hidden;
}
p {
    line-height:1.5em;
    margin-top:1.5em;
    margin-bottom:1.5em;
}
h2 {
    margin: 1.5rem auto;
    font-size: 1.5em;
}

input {
        display: block;
       /*max-width:80%;*/
        padding: calc(0.5em * 1.5) 0.5em;
        color: var(--default-dark-color);
        background: transparent;
        border-radius:4px;
        line-height: 1.15;
        margin: 0;
}
input,textarea {
    border:3px solid;
}
a {
    text-decoration:none;
    color:var(--default-orange-color);
}

li {
    margin:1rem auto;
    list-style:disc;
}
hr {
    margin: 0 auto;
    margin: 40px auto;
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
pre {
	line-height: 1.5em;
    padding: 1rem;
    border-radius: 4px;
}
pre code {
	padding: 10px;
	color: #333;
}

img {
    max-width:100%;
    height: auto;
}

table {
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 1.2rem;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
    color: #ffffff;
    text-align: left;
}
table th {
    text-align: left;
    padding:0.5em 0;
}
th,td {
    padding: 12px 15px;
}

td a,td a span {
    display:block;
}

tbody tr {
    border-bottom: 1px solid #dddddd;
}
tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
tbody tr:first-of-type {
    border-top:2px solid var(--default-orange-color);
}
tbody tr:last-of-type {
    border-bottom: 2px solid var(--default-orange-color);
}

thead {
    font-weight: bold;
    border-bottom: 1px solid black;
}
table caption {
    margin:0.3rem auto;
}
.search-field {
    border:1px solid #949494;
}
textarea {
    display:block;
}

.wp-block-search .wp-block-search__inside-wrapper {
    display: block;
   
}
h1.has-background, h2.has-background, h3.has-background, h4.has-background, h5.has-background, h6.has-background {
    padding:14px;
}
/******************************************************/
/****************   BUTTON   **************************/
/******************************************************/
button, .wp-block-search .wp-block-search__button,.search-submit {
    background: var(--default-dark-color);
    padding: 1.2rem;
    color: var(--default-orange-color)!important;
    word-break: normal;
    cursor:pointer;
    border-radius: 4px;
    margin:1.2rem 0;
    border: 1px solid var(--default-orange-color);
    font-family: inherit;
}
article.status-publish .wp-block-search .wp-block-search__button {
    border:none;
}
button:hover, .wp-block-search .wp-block-search__button:hover,.search-submit:hover {
    color:#fff!important;
    transition:color 0.1s ease;
    background: var(--default-orange-color);
}


/**************************************************************/
/*******************    WP-block    ***************************/
/**************************************************************/
.wp-block-media-text {
    direction: ltr;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto;
    margin-bottom:2.5em;
    margin-top:2.5em;
}


.wp-block-media-text .wp-block-media-text__content p{
    margin:0;
}

.wp-block-media-text__content h3 {
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

.wp-block-image {
    margin:3em auto;
}

.wp-block-media-text .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
    margin-top:1.5rem;
    margin-bottom: 1.5em;
    align-self:start;
}
pre.wp-block-verse {
    overflow: unset;
}
.wp-block-cover {
    background:transparent;
    box-shadow: none;
    border:none;
}
ul.wp-block-rss  {
    list-style-type: none;
}
ul.wp-block-rss a {
    text-decoration: underline;
}
li.widget_block {
    list-style: inside;
}
.wp-block-cover-image img.wp-block-cover__image-background, .wp-block-cover-image video.wp-block-cover__video-background, .wp-block-cover img.wp-block-cover__image-background, .wp-block-cover video.wp-block-cover__video-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    -o-object-fit: cover;
    object-fit: cover;
    outline: none;
    border: none;
    box-shadow: none;
}
label, .wp-block-search .wp-block-search__label {
    margin-bottom: 10px;
    display: inline-block;
    padding: 0.3rem 0;
    font-size:inherit;
}

.wp-block-table.aligncenter {
    margin: auto;
}
/*************************************************/
/*************    Onde-bg    *********************/
/*************************************************/
/*
.has-onde-dark-background-color,.has-background {
    margin:1.2rem auto;
    
}
*/
.has-onde-dark-background-color {
    background-color:var(--default-dark-color);
    border-radius:5px;
}
.has-onde-orange-background-color {
    background-color:var(--default-orange-color);
    border:3px solid var(--default-dark-color);
}

.has-onde-black-background-color{
    background-color:#000;
    border-radius:4px;
}
.has-onde-black-background-color:not(.front-page .has-onde-black-background-color) {
    border-left:4px solid var(--default-orange-color);
}
p.has-background {
    padding:1.25em 0.8em;
    border-radius: 4px;
}

.has-very-small-font-size {
    font-size:0.75em;
}
.has-small-font-size {
    font-size:0.875em;
}

.has-normal-font-size {
    font-size:1em;
}

.has-medium-font-size {
    font-size:1.25em;
}
.has-large-font-size {
    font-size:1.625em;
}

.has-extra-large-font-size {
    font-size:1.875em;
}
.blocks-gallery-item figure {
    box-shadow:var(--onde-light-box-shadow);
}
/**************************************************/

.wp-block-media-text__media img {
    box-shadow: var(--onde-light-box-shadow);
    display: block;
    border-radius: 4px
}
.front-page  .wp-block-media-text__media img {
    border:3px solid var(--default-orange-color);
}
@media screen and (min-width:0) and (max-width:1280px) {

    .has-onde-dark-background-color,.has-background,ul.has-background {
        padding:14px;
    }
    ul.has-background,#front-page-content-post ul {
        margin:auto 25px;
    }
    .wp-block-media-text {
        display:block;
        padding:14px;
    }
    .wp-block-media-text .wp-block-media-text__content {
        padding:0;
    }
}

.has-onde-orange-color {
    color:var(--default-orange-color);
}
.has-onde-dark-color {
    color:var(--default-dark-color);
}

.has-onde-black-color {
    color:#000;
}

p.has-normal-font-size img, p img {
    position:relative;
    top:0.5em;
}
.entry-content,.posts-container {
    max-width:900px;
    margin:auto;
}
.entry-footer {
    padding:2em 0;
}

#sidebar-L {
    grid-area:sidebarL;
}
#sidebar-R {
    grid-area:sidebarR;
}
 
#sidebar-L, #sidebar-R {
    color:#fff;
}

.entry-footer {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.entry-footer span:not(.edit-link) {
    padding-bottom:1rem;
}
.edit-link {
    background: var(--default-dark-color);
    padding: 10px 15px;
    border-radius: 4px;
    text-transform: uppercase;
    opacity:0.85;
    cursor:pointer;
}

.edit-link:hover {
    background-color: black;
    opacity:1;
}
/*****************************************************************************/
/***************************       SELECT        ****************************/
/*****************************************************************************/

select {
    /* A reset of styles, including removing the default dropdown arrow*/
    /* Additional resets for further consistency*/
    background-color: transparent;
    border: 2px solid #222;
    padding: 1em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    margin-bottom:1rem;
}

/*****************************************************************************/
/***************************      FOOTER       ****************************/
/*****************************************************************************/
.site-footer {
    background-color:var(--default-orange-color);
}
/*****************************************************************************/
/***************************       PAGEPHP        ****************************/
/*****************************************************************************/

.site-main, .page-default .site-main {
    background:#fff;
    color: var(--default-dark-color);
    padding:2em 0.8em;
}

.page-default #sidebar-L,.page-default #sidebar-R {
    color:#fff;
}

.page-default .sidebar {
    padding:0.7em;
}
.page-default #left-widget-area,.page-default #right-widget-area {
    position:absolute;
}
.page-default #left-widget-area {
    top:0;
    left:-250px;
    width:250px;
}

.mini-title {
    font-size:0.8em;
    color:rgba(0, 0, 0, 0.74);
    margin-bottom:2em;
}
.page-default .widgets-icons {
    
    position:sticky;
    top:50%;
    left:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    line-height:1.5em;
    padding:1rem;
    max-width:250px;
    box-shadow: rgba(50,50,93,.25) 0px 50px 100px -20px,rgba(0,0,0,.3) 0px 30px 60px -30px;
   
}

.main-content-wrapper {
    padding:5px;
    width:100%;
}
@media screen and (min-width:1200px) {

    .main-content-wrapper, .page-default .main-content-wrapper {
        position:relative;
        display:grid;
        grid-template-columns:250px auto 250px;
        grid-template-areas:"sidebarL main sidebarR" ;
        padding:0;
    }
    .site-main, .page-default .site-main {
        grid-area: main;
        padding:56px;
        
    }
    
    .page-default #sidebar-L {
        grid-area:sidebarL;
        
    }

    .page-default #sidebar-R {
        grid-area:sidebarR;
    }
}
/*****************************************************************************/
/***************************      FRONT-PAGE        ****************************/
/*****************************************************************************/
.front-page.main-content-wrapper {
    grid-template-columns: 5% auto 5%;
    grid-gap: 4rem;
    grid-template-areas: "sidebarL main sidebarR";
    background: #222;
}


.parallax-container {
    position:relative;
    width:100%;
    height:400vh;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items:center;
 }
 
 .parallax-container:after {
     content:"";
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     /*background:#0a2a43,;*/
     z-index:900;
     /*mix-blend-mode:color;*/
 }
 #slide1 {
     background-image:url('../images/mic.jpg');
     background-attachment: fixed;
     background-size: cover;
 }
 
 #slide2 {
     background-image:url('../images/drone.jpg');
     background-attachment: fixed;
     background-size: cover;
 }
 #slide3 {
     background:#000;
 }

 .slide::after {
     content:' ';
     position:absolute;
     left:0;
     top:0;
     width:100%;
     height: 100%;
     background: #00000077;;
 }
 
 .parallax-container .slide {
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     object-fit: cover;
     pointer-events:none;
 }
 
 .onde-front-page-entry-content {
    padding:1em;
}
 @media screen and (min-width:1200px) {
    .onde-front-page-entry-content {
        padding:1.5em;
    }
 }
 #front-page-content-post {
     position: absolute;
     width:100%;
     text-align: center;
     margin: auto;
     transform:translate3d(0,0,0);
     top:0;
     display:block;
     z-index: 980;
     color:#fff;
     text-shadow: 1px 1px 1px #000;
 }

 .front-page .wp-block-embed {
    margin: 0 0 1em;
    width: 50%;
    
    margin: 2em auto;
 }

 .onde-front-page-entry-footer {
    padding:2em;
}

/*****************************************************************************/
/***************************     CONTACT-PAGE        ****************************/
/*****************************************************************************/

.page-contact .entry-content {
    text-align:center;
}