@import './variables.css';
@import './header.css';
@import './navigation.css';
@import './blog.css';
@import './woocommerce-custom.css';
@import './comments.css';
@import './footer.css';
@import './contact.css';
/*****************************************************************************/
/***************************      ONDE DEFAULT STYLE       ****************************/
/*****************************************************************************/
* {
    box-sizing:border-box;
}
body {
    background:var(--default-dark-color);
    color:#fff;
}
p {
    line-height:1.5em;
    margin-top:1rem;
    margin-bottom:1rem;
}
h2 {
    margin: 1.5rem auto;
    font-size: 1.5em;
}

input {
        display: block;
       max-width:80%;
        padding: calc(0.5em * 1.5) 0.5em;
        color: var(--default-dark-color);
        background: transparent;
        border-radius:4px;
        font-size: 100%;
        line-height: 1.15;
        margin: 0;
}
a {
    text-decoration:none;
    color:var(--default-orange-color);
}
hr {
    margin: 0 auto;
    margin: 40px auto;
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
pre {
	line-height: 1.5em;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
pre code {
	padding: 10px;
	color: #333;
}

img {
    max-width:100%;
    height: auto;
}
.search-field {
    border:1px solid #949494;
}
.wp-block-search .wp-block-search__inside-wrapper {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    max-width: 100%;
}
button, .wp-block-search .wp-block-search__button {
    background: var(--default-dark-color);
    padding: 1.2rem;
    color: var(--default-orange-color);
    word-break: normal;
    cursor:pointer;
    border-radius: 4px;
    margin:1.2rem 0;
    border:none;
}
button:hover, .wp-block-search .wp-block-search__button:hover {
    color:#fff;
    transition:color 0.3s ease;
}
.wp-block-media-text {
    direction: ltr;
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto;
}
.wp-block-media-text .wp-block-media-text__media {
    grid-column: 1;
    grid-row: 1;
    margin-top:2rem;
    align-self:start;
}
@media screen and (min-width:0) and (max-width:1280px) {

    p.has-background,ul.has-background {
        padding:14px;
    }
    
    .wp-block-media-text {
        display:block;
        padding:14px;
    }
    .wp-block-media-text .wp-block-media-text__content {
        padding:0;
    }
}
label, .wp-block-search .wp-block-search__label {
    margin-bottom: 10px;
    display: inline-block;
    padding: 0.3rem;
    font-size:inherit;
}
.has-onde-orange-color {
    color:var(--default-orange-color);
}
.has-onde-dark-color {
    color:var(--default-dark-color);
}
.has-onde-dark-background-color {
    background-color:var(--default-dark-color);
}
.has-onde-orange-background-color {
    background-color:var(--default-orange-color);
}

.has-onde-black-background-color {
    background-color:#000;
}

.has-onde-black-color {
    color:#000;
}

.wp-block-cover, .wp-block-cover-image {
    position: relative;
    background-size: unset;
    background-position: unset;
    min-height: unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: unset;
    box-sizing: border-box;
}
.wp-block-cover-image img.wp-block-cover__image-background, .wp-block-cover-image video.wp-block-cover__video-background, .wp-block-cover img.wp-block-cover__image-background, .wp-block-cover video.wp-block-cover__video-background {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    -o-object-fit: cover;
    object-fit: cover;
    outline: none;
    border: none;
    box-shadow: none;
}

.entry-footer {
    padding:2em 0;
}

#sidebar-L {
    grid-area:sidebarL;
}
#sidebar-R {
    grid-area:sidebarR;
}
 
#sidebar-L, #sidebar-R {
    color:#fff;
}

.entry-footer {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}
.entry-footer span:not(.edit-link) {
    padding-bottom:1rem;
}
.edit-link {
    background: #222;
    padding: 10px 15px;
    border-radius: 4px;
    text-transform: uppercase;
}

.edit-link a:hover {
    color:#fff;
}
/*****************************************************************************/
/***************************       SELECT        ****************************/
/*****************************************************************************/

select {
    /* A reset of styles, including removing the default dropdown arrow*/
    /* Additional resets for further consistency*/
    background-color: transparent;
    border: 2px solid #222;
    padding: 1em;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    margin-bottom:1rem;
}
.sidebar select {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 14px;
}
.sidebar select option {

    color:var(--default-orange-color);
}
/*****************************************************************************/
/***************************      FOOTER       ****************************/
/*****************************************************************************/
.site-footer {
    background-color:var(--default-orange-color);
}
/*****************************************************************************/
/***************************       PAGEPHP        ****************************/
/*****************************************************************************/


.page-default #sidebar-L,.page-default #sidebar-R {
    color:#fff;
}

.page-default .sidebar {
    padding:0.7em;
}
.page-default #left-widget-area,.page-default #right-widget-area {
    position:absolute;
}
.page-default #left-widget-area {
    top:0;
    left:-250px;
    width:250px;
}

.page-default .widgets-icons {
    
    position:sticky;
    top:50%;
    left:0;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    line-height:1.5em;
    padding:1rem;
    max-width:250px;
    box-shadow: rgba(50,50,93,.25) 0px 50px 100px -20px,rgba(0,0,0,.3) 0px 30px 60px -30px;
   
}
.sidebar input, .sidebar  .wp-block-search .wp-block-search__input {
    color:#fff;
    border: 1px solid #fff;
}

.sidebar label,.sidebar .wp-block-search .wp-block-search__label {
  color:var(--default-orange-color);
  font-family:'marcellus';
}

.sidebar .widget-title {
    margin:10px auto;
    color:var(--default-orange-color);
}
.sidebar .close {
    margin-bottom:1.5em;
}
#sidebar-close-btn {
    color:var(--default-orange-color);
    font-size:1.5em;
    padding: 1rem 1rem 1rem 0;
    cursor:pointer;
}
.main-content-wrapper {
    padding:25px;
}
@media screen and (min-width:1200px) {

    .main-content-wrapper, .page-default .main-content-wrapper {
        position:relative;
        display:grid;
        grid-template-columns:250px auto 250px;
        grid-template-areas:"sidebarL main sidebarR" ;
        padding:0;
    }
    .site-main, .page-default .site-main {
        grid-area: main;
        padding:56px;
        background:#fff;
        color: var(--default-dark-color);
    }
    
    .page-default #sidebar-L {
        grid-area:sidebarL;
    }

    .page-default #sidebar-R {
        grid-area:sidebarR;
    }
}
/*****************************************************************************/
/***************************      FRONT-PAGE        ****************************/
/*****************************************************************************/
.front-page.main-content-wrapper {
    grid-template-columns: 5% auto 5%;
    grid-gap: 4rem;
    grid-template-areas: "sidebarL main sidebarR";
    background: #222;
}


.parallax-container {
    position:relative;
    width:100%;
    height:400vh;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items:center;
 }
 
 .parallax-container:after {
     content:"";
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     /*background:#0a2a43,;*/
     z-index:900;
     /*mix-blend-mode:color;*/
 }
 #slide1 {
     background-image:url('../images/mic.jpg');
     background-attachment: fixed;
     background-size: cover;
 }
 
 #slide2 {
     background-image:url('../images/drone.jpg');
     background-attachment: fixed;
     background-size: cover;
 }
 #slide3 {
     background:#000;
 }
 
 .slide-overlay {
     height: 100%;
     width:100%;
     background:#00000061;
 }
 .parallax-container .slide {
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     object-fit: cover;
     pointer-events:none;
 }
 
 
 #front-page-content-post {
     position: absolute;
     text-align: center;
     margin: auto;
     transform:translate3d(0,0,0);
     top:0;
     display:block;
     z-index: 980;
     color:#fff;
     text-shadow: 1px 1px 1px #000;
 }

 .front-page .wp-block-embed {
    margin: 0 0 1em;
    width: 50%;
    
    margin: 2em auto;
 }

 .onde-front-page-entry-footer {
    padding:2em;
}

/*****************************************************************************/
/***************************     CONTACT-PAGE        ****************************/
/*****************************************************************************/

.page-contact .entry-content {
    text-align:center;
}