
/**************************************************************************/
/***************    Contecat Page  *******************************/
/*************************************************************************/

.google-map-full-width {
    width:100%;
}

.page-contact iframe {
    width:100%;
}

@media screen and (min-width:1024px) {
    .page-template-contact .site-main {
        margin-left:250px;
    }
}
