/*****************************************************************************/
/*************************** FOOTER                ****************************/
/*****************************************************************************/

footer.site-footer {
    min-height:200px;
    color:var(--default-dark-color);
   display:flex;
   flex-direction:row;
   align-items: center;
   justify-content: center;
}

footer.site-footer a {
    color:#fff;
}
.site-info {
    font-family: inherit;
    font-weight: 700;
}
@media screen and (min-width:1200px) {
    footer.site-footer {
        flex-direction:column;
       
    }
    
}