/**************************************************************************/
/***************      Header   *******************************/
/*************************************************************************/
.site-header {
    display:flex;
    flex-direction:column;
}
.site-branding {
    position:relative;
   z-index:100;
}
.header-image {
    width:100%;
    height: 250px;
}
.site-logo {
    display:block;
    margin:auto;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate3d(-50%,-50%,0);
    width: 500px;
    text-align:center;
    background:black;
}

.site-title a {
    font-size:3rem;
    color:#fff;
    font-family:"Marcellus";
    text-transform:uppercase;
    text-decoration:none;
    cursor:pointer;
}

.site-description {
    text-align:center;
    font-family:"Marcellus";
    text-transform:uppercase;
    margin:10px auto;
    color:#fff;
}

.logo-text {
    position: absolute;
    margin-top: 30px;
    bottom:20px;
    
}

@media screen and (min-width:0) and (max-width:599px) {
    .site-logo {
        width:300px;
    }

    .logo-text {
        font-size: 10px;
        width: 100%;
        text-align: center;
        left:0;
        bottom:40px;
    }
}
@media screen and (min-width:400px) and (max-width:1009px) {
    .logo-text {
        right: 50%;
        transform:translate3d(50%,0,0);
        text-align: center;
        width:auto;
       
    }
}
@media screen and (min-width:1010px) {
    .logo-text {
        bottom:20px;
    }
}
@media screen and (min-width:600px) and (max-width:1319px) {
    .site-logo {
        top:50%;
        left:50%;
        transform:translate3d(-50%,-60%,0);
        width: 500px;
        text-align:center;
    }
    .logo-text {
        right: 50%;
        transform:translate3d(50%,0,0);
        text-align: center;
        width:auto;
       
    }
}
@media screen and (min-width:1320px) {
    .site-logo {
        top:50%;
        left:50%;
        transform:translate3d(-50%,-50%,0);
        width: 500px;
        text-align:center;
    }
    .logo-text {
        right: 30px;
        transform:translate3d(-60px,0,0);

    }
}
/**************************************************************************/
/***************     TOP-BAR   *******************************/
/*************************************************************************/

.top-bar {
    height:48px;
    padding:0.6rem;
    background-color:var(--default-orange-color);
    display:flex;
    flex-direction:column;
    justify-content: center;
    order:-3;
    z-index:10000;
    position: fixed;
    width:100%;
    border-bottom: 5px solid black;
}
.top-bar .left,.top-bar .right {
    display:flex;
    flex-direction:row;
    align-items:center;
    width:100%;
    justify-content:flex-end;
}

.top-bar  a {
    padding:0.3rem;
    margin-left:0.5rem;
    color:#000;
    font-family:"Titillium Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    text-decoration:none;
    font-size:70%;
}

.top-bar #topbar-menu {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: center;
}

.ml12 {
    font-weight: 200;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
  }
  
.ml12 .letter {
    display: inline-block;
    line-height: 1em;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
}


@media screen and (min-width:1200px) {

    .top-bar {
        background-color:var(--default-orange-color);
        flex-direction:row;
        order:unset;
        position: relative;
    }
    .top-bar .left,.top-bar .right {
        width:50%;  
    }
    .top-bar .left {
        justify-content: flex-start;
    }
    .top-bar .right {
        justify-content: flex-end;
    }
    
    .top-bar a {
        font-size:1rem;
    }

    .ml12 {
        letter-spacing: 0.5em;
        padding: 0.25em;
    }

    
}


@media screen and (min-width:1400px) {

    .top-bar.left,.top-bar.right {
        justify-content: center;
    }
}

@media screen and (max-width:400px) {
    .switch_lang img {
        width:20px;
    }
}
@media screen and (max-width:1024px) {
    #topbar-menu .menu-item {
        padding:0;
    }
}