@import './variables.css';
@import './header.css';
@import './navigation.css';
@import './form.css';
@import './blog.css';
@import './contact.css';
@import './woocommerce-custom.css';

html,body {
    scroll-behavior: smooth;
}
h1,h2 {
    text-transform: uppercase;
}
article,aside {
    padding:0.5rem;
}
a {
    text-decoration:none;
}
ul {
    margin:0;
}
body, button, input, select, optgroup, textarea {
    font-family: "Titillium Web", "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; 
    font-size: 1rem;
    line-height: 1.5;
}
p {
    margin-top:1rem;
    margin-bottom:1rem;
}
select {
    background: #FFFFFF;
    border-radius: 0;
    font-size: 12px;
    text-transform: uppercase;
    padding: 6px 26px 6px 6px;
    font-weight: 300;
    color: rgb(89, 89, 89);
    /* width: auto; */
    width: 55%;
    width: 40%;
    max-width: 250px;
    min-width: 215px;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(
45deg, transparent 50%, #000000 50%), linear-gradient(
135deg, #000000 50%, transparent 50%), linear-gradient(to right, #FFFFFF, #FFFFFF);
    background-position: calc(100% - 17px) 20px, calc(100% - 12px) 20px, 100% 0;
    background-size: 5px 5px, 5px 5px, 30px 46px;
    background-repeat: no-repeat;
}
.page {
    margin:0;
}
.entry-title {
    text-align:left;
}
.entry-title a {
    text-decoration:none;
    color:inherit;
    font-weight: 300;
    font-size:1.2rem;
    text-align:left;
}
.entry-title a:hover {
    color:#5e5d5d;
}
blockquote {
    background:#f9f9f94d;
    border-left:10px solid var(--default-orange-bg);
    margin:1.5em 10px;
    padding:1rem;
    quotes:"\201C""\201D""\2018""\2019";
    border-radius:3px;
  }
  blockquote:before {
    color:var(--default-orange-bg);
    content:open-quote;
    font-size:4em;
    line-height:.1em;
    margin-right:.25em;
    vertical-align:-.4em;
  }
  blockquote p {
    display:inline;
  }

  .wp-block-gallery figcaption {
    flex-grow: 1;
    color: #aba5a5;
    text-align: center;
}

iframe {
    width:100%;
}
p.has-background {
    padding: 0.8em;
}
figure.size-large {
    width:80%;
    margin:auto;
}
hr {
    margin: 0 auto;
    margin: 40px auto;
    width: 20%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
.wp-block-separator {
    border:0;
}
.wp-block-cover-image img.wp-block-cover__image-background, .wp-block-cover-image video.wp-block-cover__video-background, .wp-block-cover img.wp-block-cover__image-background, .wp-block-cover video.wp-block-cover__video-background {
    position: static;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    margin: 0;
     padding: 0;
     width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    outline: none;
    border: none;
    box-shadow: none;
}
.wp-block-cover, .wp-block-cover-image {
    position: relative;
    background-size: unset;
    background-position: unset;
    min-height:unset;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: unset;
    box-sizing: border-box;
}
.onde-text-shadow {
    text-shadow: 1px 1px 1px black;
}
.onde-w-10 {
    width:10%;
}

.onde-w-15 {
    width:15%;
}
.onde-w-20 {
    width:20%;
}
.onde-w-25 {
    width:25%;
}
.onde-w-30 {
    width:30%;
}
.onde-w-35 {
    width:35%;
}
.onde-w-40 {
    width:40%;
}
.onde-w-45 {
    width:45%;
}
.onde-w-50 {
    width:50%!important;
}
.onde-w-55 {
    width:55%;
}
.onde-w-60 {
    width:60%;
}
.onde-w-65 {
    width:65%!important;
}
.onde-w-70 {
    width:70%!important;
}
.onde-w-75 {
    width:75%!important; 
}
.onde-w-80 {
    width:80%;
}
.onde-w-100 {
    width:100%;
}
.m-auto {
    margin:auto!important;
}
.has-large-font-size {
    font-size:1.4rem!important;
}

.has-huge-font-size {
    font-size:2rem!important;
}
.has-normal-font-size {
    font-size:1rem!important;
}
.has-small-font-size {
    font-size:13px!important;
}
.has-onde-orange-color {
    color:var(--default-orange-bg)!important;
}
.has-onde-dark-background-color {
    background-color: #000!important;
}


@media screen and (min-width:1024px) {
    p.has-background {
        padding:1.25em;
    }
    .has-normal-font-size {
        font-size:1.2rem!important;
    }
    .has-large-font-size {
        font-size:2.3rem!important;
    }
    .has-huge-font-size {
        font-size:2.7rem!important;
    }
    .has-medium-font-size {
        font-size:1.8rem!important;
    }
}
/**************************************************************************/
/***************       MAIN SITE WRAPPER   *******************************/
/*************************************************************************/
.site-main {
    
    margin:auto;
   text-align:center;
}
.main-wrapper {
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-start;
}


.site-footer {
    margin: 0;
    padding:1.5rem;
    background:var(--default-orange-bg);
    min-height: 250px;
}

@media screen and (min-width:1024px) {
    .site-main {
        margin-right:250px;
        width:100%;
       
    }
    .main-wrapper {
        flex-direction:row;
        justify-content: center;
    }

    
}

/**************************************************************************/
/***************     front page  *******************************/
/*************************************************************************/
.content-wrapper {
    height:3000px;
}
/**************************************************************************/
/***************      SIDEBAR  *******************************/
/*************************************************************************/

.widgets-icons {
    position:sticky;
    top:50%;
    transform:translateY(-50%);
    left:1rem;
    max-width:250px;
    margin-top:50px;
    order:-1;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px;
}

.widgets-icons p {
    text-align: center;
}

.widgets-icons.triggered {
    display:none;
}

.icon-container {
    width:250px;
}
.icon-container .fas {
    margin :auto;
    width:100%;
    text-align:center;
    cursor:pointer;
}
.icon-container .fas:hover {
   color:var(--default-orange-bg);
}
.widget-area {
    display:none;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    order:-2;
}
.widget-area.sidebar-opened {
    display:block;
}
#sidebar-close-btn {
    cursor:pointer;
    font-size: 1.5em;
}
@media screen and (min-width:1024px) {
    .widget-area {
        flex-direction:row;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        position:sticky;
        top:100px;
        left:1rem;
        max-width: 250px;
        order:-2;
    }
}
/**************************************************************************/
/***************     PAGE  *******************************/
/*************************************************************************/
.page-template-default .site-main  {
    margin:0;
}
.page-template-default article {
    margin-left:1rem;
    padding-top: 2.3em;
}


.page-template-default .entry-content  {

    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-template-default figure.wp-block-embed {
    max-width:800px;
    width:100%;
}

@media screen and (min-width:1024px) {
    .page-template-default article {
        margin-left:1rem;
        padding-top: 2.3em;
        width:calc(100% - 250px);
        margin-right:250px;
    }
}
/**************************************************************************/
/***************      FRONT PAGE  *******************************/
/*************************************************************************/
.page-template-accueil ul {

    list-style-type: none;
}
.loader {
    position : fixed;
    z-index: 10000;
    background : black;
    top : 0px;
    left : 0px;
    height : 100vh;
    width : 100%;
    cursor : wait;
}

.spinner {
    position : fixed;
    z-index: 10000;
    background : url('../images/white-logo.png') 50% 50% no-repeat;
    background-size: contain;
    top : 50%;
    left : 50%;
    height : 300px;
    width : 300px;
    transform:translate3d(-50%,-50%,0);
    cursor : wait;
}

.parallax-container {
    position:relative;
    width:100%;
    height:400vh;
    overflow:hidden;
    display:flex;
    justify-content: center;
    align-items:center;
 }
 
 .parallax-container:after {
     content:"";
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     /*background:#0a2a43,;*/
     z-index:900;
     /*mix-blend-mode:color;*/
 }
 #slide1 {
     background-image:url('../images/mic.jpg');
     height:100vh;
     background-attachment: fixed;
     background-size: cover;
 }
 
 #slide2 {
     background-image:url('../images/drone.jpg');
     height:100vh;
     background-attachment: fixed;
     background-size: cover;
 }
 #slide3 {
     background:#000;
     height:200vh;
 }
 
 .slide-overlay {
     height: 100%;
     width:100%;
     background:#00000061;
 }
 .parallax-container .slide {
     position:absolute;
     top:0;
     left:0;
     width:100%;
     height:100%;
     object-fit: cover;
     pointer-events:none;
 }
 
 
 #front-page-content-post {
     position: absolute;
     text-align: center;
     margin: auto;
     transform:translate3d(0,0,0);
     top:0;
     display:block;
     z-index: 980
 }
 
 .onde-front-page-post-container {
     padding: 0;
 }



 .onde-front-page-entry-content p {
     color:white;
     font-size:1.25em;
     text-shadow: 1px 1px 1px black;
     width:90%;
     margin:1rem auto;
 }
 .onde-front-page-entry-content .wp-block-cover {
    min-height: unset!important;
}
 @media screen and (min-width:1024px) {
  
    .onde-front-page-entry-content .wp-block-cover {
        min-height: unset;
    }
    .onde-front-page-entry-content .wp-block-embed {
        width: 50%;
        margin: 2rem auto;
    }
    .onde-front-page-entry-content figure {
        padding:1rem;
    }
    .onde-front-page-entry-content p {
        font-size:1.8rem;
    }

 }
 .wp-block-media-text {
    margin-top:1.5em;
}
 @media (max-width: 1024px){
     
    .wp-block-media-text.is-stacked-on-mobile {
        grid-template-columns: 100%!important;
    }
    .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__media {
        grid-column: 1;
        grid-row: 1;
    }
    .wp-block-media-text.is-stacked-on-mobile .wp-block-media-text__content {
        grid-column: 1;
        grid-row: 2;
    }
 }
 
 