/***********************************************************/
/********************Navigation****************************/
/***********************************************************/

.menu-toggle {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    padding:1rem;
	position: absolute;
    top: 50%;
	transform:translateY(-50%);
	left:0;
}

ul#primary-menu {
	margin:0;
}
.site-header ul {
	margin:0;
}
.fa-bars {
    font-size: 30px;
    cursor:pointer;
}

.nav-menu {
    width:95%;
    margin:auto;
}
.menu li,.sub-menu li {
	margin:0;
	list-style:none;
}
.menu-item {
    padding:1rem;
}
.menu-item a {
   font-family: "Marcellus";
   color: #fff;
   font-size:16px;
   text-transform: uppercase;

}
.menu-item a:hover { 
    color:var(--default-dark-color);
}
.menu-item.active a { 
    color:  var(--default-dark-color);;
}
.onde-menu-container {
	padding-top:100px;
    width:auto;
    margin:auto;
	position:fixed;
	width:50%;
	left:-50%;
	height: 100%;
	transition:none;
	z-index:100;
	top:48px;
}


.nav-menu .active a {
    color:var(--default-dark-color);
}

.sub-menu a:hover{
	color:var(--default-orange-color);
}

#primary-menu .sub-menu li {
    background:#fff;
}
#primary-menu .sub-menu .menu-item  a {
    color:#222;
}

#primary-menu .sub-menu .menu-item a:hover,.sub-menu .menu-item a:hover {
	color:var(--default-orange-color);
}

@media screen and (max-width:782px) {
	.admin-bar .onde-menu-container {
		top: 94px;
	}
}
@media screen and (min-width:783px) and (max-width:1200px) {
	.admin-bar .onde-menu-container {
		top:80px;
	}
}
@media screen and (max-width: 1200px){
	#wpadminbar {
    position: fixed;
	}
}

/******************************************************/      
/*****************SUB-MENU********************/
/******************************************************/


.sub-menu {
    display:flex;
    flex-direction:column;
    border-bottom:5px solid rgb(0,0,0);
    padding-top:5px!important;
}

/* Navigation
--------------------------------------------- */
#site-navigation {
	transition:all 0.3s ease;
	border-bottom:5px solid rgb(0,0,0);
}
.main-navigation {
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: center;
	width: 100%;
	order:-2;
	z-index:1000;
}

.main-navigation ul {
	list-style: none;
	padding-left: 0;
}
#primary-menu .menu-item-has-children {
	display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
	cursor:auto;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	display: block;
	left: auto;
}

.main-navigation ul ul a {
	font-size:0.8em;
	width: 150px;
    word-break: break-word;
}

.main-navigation li {
	position: relative;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

#primary-menu .sub-menu-arrow-btn {
	margin-left:15px;
	cursor: pointer;
    transform: rotate(-90deg);
}
.main-navigation ul.sub-menu-opened {
	left:99.9%;
	top:0;
	border-top:5px solid black;
}
/* Small menu. */

.main-navigation.toggled ul {
	display:block;
	cursor:pointer;
}

.main-navigation.toggled .onde-menu-container {
	left:0;
	transition:all 0.4s ease-in-out;
}



.site-main .comment-navigation,
.site-main
.posts-navigation,
.site-main
.post-navigation {
	margin: 0 0 1.5em;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}
/*****************************************************************************/
/*******************    HEADER CART        *******************************/
/*****************************************************************************/
/*****************************************************************************/
.header-cart,.left-fix-empty-div {
	width:200px;
}
.header-cart .cart-contents {
	color:var(--default-dark-color);
	padding:0 0.5em;
	display:flex;
	flex-direction: column;
	position:relative;
}
.cart-contents .amount-container {
	position:absolute;
	top:50%;
	transform:translate3d(0,-50%,0);
	left:75px;
	color: #fff;
    font-weight: bold;
    background: black;
    padding: 0.3em;
    border-radius: 5px;
}
.top-bar .amount-container,.top-bar .cart-contents {
	display:none;
}
@media screen and (max-width:1200px) {
	.top-bar .amount-container {
		display:block;
		position:static;
		transform:none;
		margin:0 10px;
	}
	.top-bar .cart-contents {
		display:flex;
		align-items:center;
	}
}

.header-cart .cart-contents span.count {
	font-size: 16px;
    color: #fff;
    background: var(--default-dark-color);
    padding: 0.3em;
    display: inline-block;
	position:relative;
}

.header-cart .cart-contents span.count::before {
	content:'';
	position:absolute;
	top:0;
	left:-3px;
	width:0;
	height: 0;
	margin-top:4px;
	border-style:solid solid solid none;
	border-width:5px 5px 5px medium;
	border-top-color:transparent!important;
	border-bottom-color:transparent!important;
	border-color:var(--default-dark-color);
}
.header-cart .cart-total i.fas.fa-shopping-cart {
	margin-right: 5px;
}


@media screen and (min-width:1200px) {
	
	.main-navigation {
		order:unset;
	}
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
        align-items:center;
        justify-content: center;
	}

    .onde-menu-container {
		padding-top:unset;
		border-top:none;
		position:static;
        width:90%;
    }
	#primary-menu .sub-menu-arrow-btn {
		display:none;
	}
	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: auto;
		top:100%;
	}

	.main-navigation.toggled .onde-menu-container {
		left:unset;
		transition:unset;
	}
}


