/*********************************************************/
/*************SIDEBAR MAIN STYLE**************************/
/*********************************************************/
li.widget_block.widget_search {
    list-style:none;
}
@media screen and (min-width:1200px) {
    #sidebar-R,#sidebar-L {
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
    }
}
footer label {
    color:var(--default-dark-color);
}


.sidebar label,.sidebar .wp-block-search .wp-block-search__label {
  color:var(--default-orange-color);
  font-family:'marcellus';
}

.widget-title {
    margin:10px auto;
    color:var(--default-orange-color);
    font-size: 1.2em;
    text-transform: uppercase;
}
.widget-title::after {
    content: ' ';
    width:100%;
    margin:.5em 0;
    height:1px;
    background:var(--default-orange-color);
    display:block;
}
.sidebar .close {
    margin-bottom:1.5em;
}
#sidebar-close-btn {
    color:var(--default-orange-color);
    font-size:1.5em;
    padding: 1rem 1rem 1rem 0;
    cursor:pointer;
}
.sidebar select {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 14px;
}
.sidebar select option {

    color:var(--default-orange-color);
}

.sidebar .menu-item {
    padding:0;
    margin-bottom: 0.4rem;
}
.sidebar .sub-menu,.site-footer .sub-menu {
    border:none;

}
.sidebar .sub-menu li,.site-footer .sub-menu li {
    background:none;
}
.site-footer .sub-menu a {
    color:#fff;
} 
.site-footer .sub-menu a:hover {
    color:var(--default-dark-color);
} 
.widget_media_gallery .gallery {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

.widget_media_gallery .gallery-item {
    margin:0.5rem 0;
    text-align:center;
    max-width: 150px;
}
.gallery-caption {
    margin:0.2rem 0;
}

.sidebar .menu-item a {
	color:#fff;
    font-size: 0.8em;
}
.sidebar input {
    color:#fff;
}
.sidebar .menu-item a:hover {
	color:var(--default-orange-color);
}


.widget .menu-item.active a:not(.sub-menu .active a) {
    color:var(--default-orange-color);
}

    


/*********************************************************/
/*********************  WIDGETS  *************************/
/*********************************************************/

.widget ul.menu {
    margin:0.2em 0.2em;
}

.widget ul.sub-menu {
    margin:0 0.5em 0 1.2em;
}
.widget ul.sub-menu li {
    list-style:disc;
    color:var(--default-orange-color);
}
.widget ul.sub-menu li a {
    font-size:0.7em;
}
.widget_social_media_widget {
    list-style:none;
}
.onde-widget.social-media-icon {
    width:30px;
    height:auto;
}
.onde-widget.container-flex-we {
    display:flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
}
.onde-widget.container-flex-sc {
    display:flex;
    justify-content: flex-start;
    align-items:center;
    flex-wrap:wrap;
}
.yt-video {
    margin:10px;
}

.product_list_widget {
    list-style-type: none;
}
.product_list_widget li{
    list-style: none;
}
.product_list_widget span.product-title {
    display:block;
    margin:10px;
}

.sidebar .woocommerce-price-suffix {
    color:var(--default-orange-color);
}

.sidebar .menu-artistes-container {
    max-height: 500px;
    overflow: auto;
}


.sidebar .widget_pages ul {
    margin:0;
    max-height: 500px;
    overflow: auto;
}