/*--------------------------------------------------------------
Custom WooCommerce Styling
--------------------------------------------------------------*/

.woocommerce-breadcrumb {
    line-height: 15px;
    font-size: 13px;
    font-weight: 300;
    margin: 30px auto 30px auto;
    text-align: center;
}

.woocommerce-breadcrumb a {
	text-decoration:none;
	color:#939598;
}

.woocommerce-products-header h1 {
	padding-bottom: 20px !important;
    background: url('../images/heading-underline.jpg') center bottom no-repeat;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 26px 0;
}

.woocommerce-result-count {
	color: #939598
}

.woocommerce-ordering {
	margin:30px 0;
    text-align:center;
}

.woocommerce div .product {
    padding:1.2em;
}

 ul.products {
    margin: 0 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
ul.products li.product img {
    display: block;
    margin: auto;
    
}
.woocommerce-product-gallery__image,ul.products li.product img,.woocommerce-Tabs-panel img {
    box-shadow:var(--onde-light-box-shadow);
}
.woocommerce-Tabs-panel img {
    margin:0.5em;
}
li.product {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

li.product .onsale {
	position: absolute;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    min-width: 3em;
    min-height: 3em;
    line-height: 3.3em;
    border-radius: 100%;
    /* width: 45px; */
    /* height: 45px; */
    margin: 0;
    font-size: 14px;
    text-shadow: none;
    font-weight: 400;
    text-transform: uppercase;
    left: 50%;
    top: 0;
    color: #FFFFFF;
    background-color: #ba2227;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 8%) inset;
}

 ul.products li.product a.add_to_cart_button, ul.products li.product a.add_to_cart_button, ul.products li.product a.ajax_add_to_cart, ul.products li.product a.ajax_add_to_cart {
    color: #FFFFFF;
    border-radius: 0;
    border: none;
    display: inline-block;
    width: 200px;
    line-height: 1;
    padding: .9em 1em .8em;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
	background:#000;
	text-decoration:none;
	margin: 1.2em auto;
    border-radius:5px;
    box-shadow:var(--onde-default-box-shadow);
}

ul.products li.product .price {
    color: #77a464;
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
    font-size: .857em;
}


 ul.products li.product .price ins {
	background: 0 0;
    font-weight: 700;
    color: #ba2227;
    display: inline-block;
}

.product {
    margin-top:2.5em;
}
.woocommerce-price-suffix {
	color:#000;
}
/*
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
    margin: 0 40px 40px 0;
}
*/
.woocommerce-product-gallery__image .wp-post-image {
    display:block;
    margin:auto;
}
.product_title.entry-title {
    text-align:center;
}
.woocommerce-Price-amount {
    color:#77a464;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    margin-top: 0;
    margin-bottom: 40px;
}
.woocommerce div.product form.cart {
    margin-bottom: 2em;
}
p.stars:hover a::before {
    content: "\53";
    color:  #ff9900!important;
    opacity: 1;
}
p.stars.selected a.active::before {
    content: "\53";
    color: #ff9900!important;
    opacity: 1;
}
p.stars.selected a:not(.active)::before {
    content: "\53";
    color: #ff9900!important;
    opacity: 1;
}
.form-submit input {
    cursor:pointer;
}
.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
    border-bottom: 1px solid #939598;
}
.woocommerce #content div.product .woocommerce-tabs:before, .woocommerce div.product .woocommerce-tabs:before, .woocommerce-page #content div.product .woocommerce-tabs:before, .woocommerce-page div.product .woocommerce-tabs:before, .woocommerce #content div.product .woocommerce-tabs:after, .woocommerce div.product .woocommerce-tabs:after, .woocommerce-page #content div.product .woocommerce-tabs:after, .woocommerce-page div.product .woocommerce-tabs:after {
    content: ' ';
    display: table;
    clear: both;
}
.woocommerce-tabs ul.tabs, .woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs {
    margin: 0 2% 0 0;
    padding: 0;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
    border-bottom: 1px solid #939598;
}
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
    content: "";
    display: table;
}
.woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel {
    padding: 10px 0 0;
    margin: auto;
    width: 77%;
}
.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
    margin: 20px 0 30px;
    padding: 25px 0 40px;
    border-left: 0;
    border-right: 0;
}
.woocommerce-Tabs-panel.panel {
    margin:auto;
    text-align:center;
}
/********************** rating ********************/
.comment-form-comment textarea,.comment-form .submit {
    margin:auto;
}
.related.products h2 {
    text-align:center;
}
.summary .product_title {
    margin-top: 1em;
    font-size: 1.275em;
}
.summary .product_meta {
    text-align:center;
}
.woocommerce-product-details__short-description {
    text-align:center;
}
/**************************Form cart *******************************************/
form.cart {
    display:flex;
    flex-direction:column;
    align-items: center;
}
form.cart .quantity input {
    margin:auto;
}
/**************** gallery wc zoom **************************************************/
.single-product div.product .woocommerce-product-gallery {
    position: relative;
    float: unset;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 2em;
    right: calc(50% - 120px);
    display: block;
    z-index: 99;
}

.woocommerce-product-gallery__wrapper {
    max-width: 300px;
    margin: auto;
}
/******************************************************************************************/
/*************************** cart ********************************************************/
.shop_table tbody {
    border-bottom: 1px solid var(--default-dark-color);
}
.shop_table .product-remove {
    font-size: 2em;
    margin: 0.5em;
}
.shop_table tr {
    padding: 1em;
    margin-bottom: 1em;
}
.shop_table td {
    padding:0.5em;
    text-align:center;
    vertical-align: middle;
}
table.shop_table_responsive tr td {
    text-align:center;
}
.product-quantity input,.coupon input {
    margin:auto;
}
.shop_table td.product-remove {
    vertical-align: top;
}
.cart_totals {
    margin-top: 0.5em;
    padding: 0.5em;
}
.cart_totals h2 {
    text-align:center;
}
.wc-proceed-to-checkout {
    text-align:center;
    margin: 45px;
    padding:0.5em;

}

@media screen and (min-width: 1200px){
    table.shop_table_responsive tr th, table.shop_table_responsive tr td {
        text-align: center;
    }
}

@media screen and (min-width:0) and (max-width:1200px) {
    .shop_table {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    table.shop_table_responsive thead {
        display: none;
    }
    .shop_table tbody {
        width:unset;
      
    }
    .shop_table tr {
        display:flex;
        flex-direction:column;
        align-items:center;
        padding: 1em;
        margin-bottom: 1em;
    }
    .shop_table .woocommerce-cart-form__cart-item {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    }

    .shop_table .product-remove {
        align-self:flex-start;
        font-size: 2em;
        margin: 0.5em;
    }

    .shop_table .product-thumbnail,.shop_table .product-name,.shop_table .product-price,.shop_table .product-quantity ,.shop_table .product-subtotal{
        margin:10px;
    }
    .shop_table .product-price{
        display:none;
    }
}
.cart_item .product-name {
    color: #78797a
}
.cart_item .product-name .product-quantity {
    color:var(--default-orange-color);
}

.cart-subtotal td,.order-total td {
    text-align:left;
}
.order-total th {
    font-weight: bold;
}



/******************************************************************************************/
.woocommerce-info, .woocommerce-noreviews, p.no-comments {
    background-color: transparent!important;
}
.woocommerce-message,.woocommerce-error {
    text-align:center;
    position:relative;
    display: flex;
    flex-direction: column;
    border-top-width: 4px!important;
    border-top-style:solid;
    list-style: none;
    padding: 1.5em;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)!important;
    margin:2.5em auto;
}
.woocommerce-error {
    background-color: #fba9a9;  
}
.woocommerce-message {
    border-top-color: #38b2ac!important;
    background-color:#e6fffa;
}
.woocommerce-message .restore-item {
    display: block;
    padding: 1rem;
    width: 150px;
    margin: 1.5em auto;
    border-radius: 5px;
    background: black;
    font-weight: bold;
}
.woocommerce-message:first-child::before {
    content: 'i';
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 2px solid #38b2ac!important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0.3em 0.3em;
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    color:#38b2ac;
    font-weight: bold;
}
.cart-empty,.return-to-shop {
    text-align:center;
}
@media screen and (min-width:1200px) {
    .woocommerce-message,.woocommerce-error {
        align-items: center;
        justify-content: center;
        width: 50%;
    }
}
/**************************************************************************/
/***************************LOGIN FORM ************************************/


#customer_login.u-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.u-column1,.u-column2 {
    width: 100%;
    padding: 1.5em;
}
@media screen and (min-width:48em) {
    .u-column1,.u-column2 {
        width: 50%;
    }
}
.u-column1 h2,.u-column2 h2 {
    color:var(--default-orange-color);
}
.woocommerce-button {
    display:block;
}
.woocommerce-form__label-for-checkbox {
    display:flex;
    align-items: center;
}
.woocommerce-form__label-for-checkbox span {
    margin-left:1em;
}
@media screen and (min-width:48em) {
    #customer_login.u-columns {
        flex-direction:row;
        align-items: baseline;
    }
}
/**************************************************************************/
/*************************************************************************/
@media screen and (min-width: 48em){
    ul.products li.product {
    width: 30.79667%;
    float: left;
    margin-right: auto!important;
    }
}
@media screen and (min-width: 48em){

}
ul.products.columns-4 li.product {
    margin:20px auto;
    text-align:center;
}

.woocommerce-loop-product__title,.price {
    text-align:center;
}

.add_to_cart_button,.single_add_to_cart_button {
    text-align:center;
    width:unset!important;
    border:none;
}
.add_to_cart_button:hover {
    background-color: var(--default-orange-color)!important;
    color:var(--default-dark-color)!important;
}

.woocommerce-loop-product__title {
    font-size:inherit;
}


.onsale {
    color: #FFFFFF;
    background-color: #ba2227;
    text-transform:uppercase;
    padding:1em;
    border-radius:100%;
}
/***********************************validate command form ****************************/
.woocommerce-form-coupon-toggle {
    text-align: center;
    padding: 0.5em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}
.checkout_coupon.woocommerce-form-coupon {
    padding:0.5em;
    text-align:center;
    margin-bottom:1em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.checkout_coupon.woocommerce-form-coupon input {
   margin:auto;
}
.checkout.woocommerce-checkout{
    margin-top:1em;
    padding:0.5em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.woocommerce-billing-fields h3 {
    font-weight: bold;
    font-size:1.5em;
    text-align: center;
    padding:0.5em;
    margin-bottom:2em;
}
.woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom:1.5em;
}

.select2-selection__rendered {
    text-align:center;
}
.select2-search.select2-search--dropdown input {
    margin:auto;
}
.col-1 input {
    width:unset;
}
.select2-results__option {
    text-align:center;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--default-orange-color);
    line-height: 28px;
}
.select2-results__option[aria-selected], .select2-results__option[data-selected] {
    color: var(--default-orange-color);
    cursor: pointer;
    list-style:none;
}
.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[data-selected=true] {
    background-color: #faaf31;
    color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: var(--default-dark-color);
    color: var(--default-orange-color);
    list-style:none;
}
.col-2 .woocommerce-input-wrapper textarea {
    width:80%;
    margin:auto;
    min-height:250px;
}
.woocommerce-additional-fields {
    text-align:center;
}
.woocommerce-additional-fields h3 {
   font-weight: bold;
}
.form-row.notes {
    color: #939598;
}
.form-row.notes .optional,.required {
    color:#e96363;
}
#order_review_heading {
    font-weight: bold;
    text-align:center;
    font-size:1.5em;
    padding:0.5em;
    margin-top:1em;
    margin-bottom: 1em;
}
.woocommerce-checkout-review-order {
    padding:0.5em;
    margin:1em auto;

}
.checkout-button.button.alt.wc-forward {
    background:var(--default-dark-color);
    padding:1.2rem;
    border-radius: 4px;
}
.checkout-button.button.alt.wc-forward:hover {
    color: #fff !important;
    transition: color 0.1s ease;
    background: var(--default-orange-color);
}
@media screen and (min-width:1200px) {
    .cart_item td {
    text-align:left;
    }
}

@media screen and (min-width: 768px) {
    .col2-set .form-row-first, .col2-set .form-row-last {
        width: unset; 
        float:unset;
        margin:auto;
    }
}
