/*--------------------------------------------------------------
Custom WooCommerce Styling
--------------------------------------------------------------*/
/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /*-webkit-appearance: none;*/
  opacity:1;
  margin: 0;
cursor:pointer;
}

/* Firefox */
/*
input[type=number] {
  -moz-appearance: textfield;
}
*/
input[type=number].qty {
    border-radius:0;
    height:36px;
    /*width:36px;*/
    float:left;
}

.quantity .minus_btn, .quantity .plus_btn {
    display:block;
    width:36px;
    height:36px;
    line-height:34px;
    text-align:center;
    float:left;
    border:1px solid rgba(0,0,0,.1);
    cursor:pointer;
    color:var(--default-orange-color);

}
.qty
.woocommerce-info {
    border-top-color: #f9992e;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    font-size: 100%;
    margin: 0;
    line-height: 1;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    overflow: visible;
    padding: 1.25em;
    font-weight: 700;
    border-radius: 3px;
    left: auto;
    color: var(--default-orange-color);
    background-color: var(--default-dark-color);
    border: 0;
    display: inline-block;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    opacity:0.85;
}
.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover {
    background-color: black;
    text-decoration: none;
    background-image: none;
    color:var(--default-orange-color)!important;
    opacity:1;
}
.woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled] {
    color: inherit;
    cursor: not-allowed;
    opacity: .6;
    padding: 1.25em;
    background-color: var(--default-dark-color)!important;
}
.woocommerce div.product form.cart .button {
    margin-top: 10px;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    
    color: var(--default-orange-color);
}
.woocommerce-breadcrumb {
    line-height: 15px;
    font-size: 13px;
    font-weight: 300;
    margin: 30px auto 30px auto;
    text-align: center;
}

.woocommerce-breadcrumb a {
	text-decoration:none;
	color:#939598;
}


.woocommerce .woocommerce-result-count {
    margin:1.5em 0 1.5em 0;
	color: var(--default-orange-color);
}

.woocommerce-ordering {
	margin:30px 0;
    text-align:center;
}

.woocommerce div .product {
    padding:1.2em;
    width:250px;
}

 ul.products {
    margin: 0 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
ul.products li.product img {
    display: block;
    margin: auto;
    
}
.woocommerce-product-gallery__image,ul.products li.product img,.woocommerce-Tabs-panel img {
    box-shadow:var(--onde-light-box-shadow);
}
.woocommerce-Tabs-panel img {
    margin:0.5em;
}
li.product {
	display: flex;
    flex-direction: column;
    justify-content: center;
    width:300px;
    box-shadow: var(--onde-light-box-shadow);
    padding:0.8em;
    position: relative!important;
}

li.product .onsale {
	position: absolute;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    min-width: 3em;
    min-height: 3em;
    line-height: 3.3em;
    border-radius: 100%;
    /* width: 45px; */
    /* height: 45px; */
    margin: 0;
    font-size: 14px;
    text-shadow: none;
    font-weight: 400;
    text-transform: uppercase;
    left: 50%;
    top: 0;
    color: #FFFFFF;
    background-color: var(--default-orange-color);
    box-shadow: 0 0 0 1px rgb(0 0 0 / 8%) inset;
}

 ul.products li.product a.add_to_cart_button, ul.products li.product a.add_to_cart_button, ul.products li.product a.ajax_add_to_cart, ul.products li.product a.ajax_add_to_cart {
    border-radius: 0;
    border: none;
    display: inline-block;
    width: 200px;
    line-height: 1;
    padding: .9em 1em .8em;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
	background:#000;
	text-decoration:none;
	margin: 1.2em auto;
    border-radius:5px;
    box-shadow:var(--onde-default-box-shadow);
}

ul.products li.product .price {
    color: var(--default-orange-color);
    display: block;
    font-weight: 400;
    margin-bottom: .5em;
    font-size: .857em;
}


 ul.products li.product .price ins {
	background: 0 0;
    font-weight: 700;
    color: var(--default-orange-color);
    display: inline-block;
}

.woocommerce div.product {
    margin:2.5em auto;
    max-width:900px;
    padding-top:2em;
}


.woocommerce-product-gallery__image .wp-post-image {
    display:block;
    margin:auto;
}
.product_title.entry-title {
    text-align:center;
}
.woocommerce-Price-amount {
    color:var(--default-orange-color);
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
    margin-top: 0;
    margin-bottom: 40px;
    
}
.woocommerce div.product div.summary {
    float:right;
    width:50%;
    margin-top:2em;
}
@media screen and (max-width:765px) {
    .woocommerce div.product div.summary {
        float:none;
        width:100%;
    }
}
.woocommerce div.product form.cart {
    margin-bottom: 2em;
}
.woocommerce div.product form.cart .reset_variations {
    visibility: hidden;
    font-size: .83em;
    padding: 0.4em;
    border-radius: 4px;
    background: var(--default-dark-color);
}
p.stars:hover a::before {
    content: "\53";
    color:  #ff9900!important;
    opacity: 1;
}
p.stars.selected a.active::before {
    content: "\53";
    color: #ff9900!important;
    opacity: 1;
}
p.stars.selected a:not(.active)::before {
    content: "\53";
    color: #ff9900!important;
    opacity: 1;
}
.form-submit input {
    cursor:pointer;
}
.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
    border-bottom: 1px solid #939598;
}
.woocommerce #content div.product .woocommerce-tabs:before, .woocommerce div.product .woocommerce-tabs:before, .woocommerce-page #content div.product .woocommerce-tabs:before, .woocommerce-page div.product .woocommerce-tabs:before, .woocommerce #content div.product .woocommerce-tabs:after, .woocommerce div.product .woocommerce-tabs:after, .woocommerce-page #content div.product .woocommerce-tabs:after, .woocommerce-page div.product .woocommerce-tabs:after {
    content: ' ';
    display: table;
    clear: both;
}
.woocommerce-tabs ul.tabs, .woocommerce div.product .woocommerce-tabs ul.tabs, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs, .woocommerce-page div.product .woocommerce-tabs ul.tabs {
    margin: 0 2% 0 0;
    padding: 0;
}
.woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active {
    border-bottom: 1px solid #939598;
}
.clear:before, .clear:after, .entry-content:before, .entry-content:after, .comment-content:before, .comment-content:after, .site-header:before, .site-header:after, .site-content:before, .site-content:after, .site-footer:before, .site-footer:after {
    content: "";
    display: table;
}
.woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel {
    padding: 10px 0 0;
    margin: auto;
    width: 77%;
}
.woocommerce #content div.product .woocommerce-tabs, .woocommerce div.product .woocommerce-tabs, .woocommerce-page #content div.product .woocommerce-tabs, .woocommerce-page div.product .woocommerce-tabs {
    margin: 20px 0 30px;
    padding: 25px 0 40px;
    border-left: 0;
    border-right: 0;
}
.woocommerce-Tabs-panel.panel {
    margin:auto;
}
.woocommerce-Tabs-panel.panel li {
    list-style:disc;
}
/********************** rating ********************/
.comment-form-comment textarea,.comment-form .submit {
    margin:auto;
}
.related.products h2 {
    text-align:center;
}
.summary .product_title {
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.5em;
}
.summary .product_meta {
    text-align:center;
}
.woocommerce-product-details__short-description {
    text-align:center;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color: var(--default-orange-color);
    font-size: 3em;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

.woocommerce ul.products li.product .price {
    color: var(--default-orange-color);
    display: block;
    font-weight: 400;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    margin-top: 0.8em;
}
.woocommerce ul.products li.product .star-rating {
    font-size: 1em;
    margin:0.5em auto;
}
.woocommerce .star-rating {
    color:var(--default-orange-color);
}
.woocommerce div.product .woocommerce-product-rating {
    text-align:center;
}
.woocommerce .woocommerce-product-rating .star-rating {
    margin:0.5em auto;
    float: none;
}
/**************************Form cart *******************************************/
form.cart {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.woocommerce div.product form.cart div.quantity {
    float: none; 
    margin: auto;
}
form.cart .quantity input {
    margin:auto;
    width:50%;
}
.woocommerce .quantity .qty {
     /*width:36px;*/
     width:unset;
     font-size:12px;
     -webkit-appearance: none;
}
.woocommerce form.variations_form {
    display: flex;
    flex-direction: column;
}
.woocommerce .single_variation_wrap {
    width:100%;
}
.woocommerce .woocommerce-variation-add-to-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    text-align: center;
}
/**************** gallery wc zoom **************************************************/
.single-product div.product .woocommerce-product-gallery {
    position: relative;
    float: left;
    width:250px;
    margin-top:2em;
}
.single-product div.product .woocommerce-product-gallery .woocommerce-product-gallery__trigger {
    position: absolute;
    top: 2em;
    right: calc(50% - 120px);
    display: block;
    z-index: 99;
}

.woocommerce-product-gallery__wrapper {
    box-shadow: var(--onde-light-box-shadow);
}
@media screen and (max-width:765px) {
    .single-product div.product .woocommerce-product-gallery {
        float: none;
        width:100%;
        max-width:500px;
        margin:auto;
    }
    .woocommerce #content div.product .woocommerce-tabs .panel, .woocommerce div.product .woocommerce-tabs .panel, .woocommerce-page #content div.product .woocommerce-tabs .panel, .woocommerce-page div.product .woocommerce-tabs .panel {
        width: 100%;
    }
}
.woocommerce div.product form.cart {
    padding:20px 0;
    border-top:1px solid;
    border-bottom:1px solid;
    margin-top:20px;
    border-color: #939598;
}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: var(--default-dark-color);
    -webkit-font-smoothing: antialiased;
    padding:1.2em;
    border-radius:4px;
}
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {   
    background-color: var(--default-dark-color);
    color:var(--default-orange-color)
}
/******************************************************************************************/
/*************************** cart ********************************************************/
.woocommerce a.remove {
    display: block;
    font-size: 1.5em;
    height: 1em;
    width: 1em;
    text-align: center;
    line-height: 1;
    border-radius: 100%;
    color: var(--default-orange-color)!important;
    text-decoration: none;
    font-weight:normal;
    border: 0;
}
.woocommerce a.remove:hover {
    color: #d71212!important;
   background:none;
}
.shop_table tbody {
    border-bottom: 1px solid var(--default-dark-color);
}
.shop_table thead {
    background-color: var(--default-dark-color);
    color:var(--default-orange-color);
}
.shop_table thead tr {
    color:inherit;
}
.shop_table .product-remove {
    font-size: 2em;
    margin: 0.5em;
}

.shop_table td {
    padding:0.5em;
    text-align:center;
    vertical-align: middle;
}
table.shop_table_responsive tr td {
    text-align:center;
}
.product-quantity input,.coupon input {
    margin:auto;
}
.shop_table td.product-remove {
    vertical-align: top;
}
.cart_totals {
    margin-top: 0.5em;
}
.cart_totals h2 {
    text-align:center;
}
.wc-proceed-to-checkout {
    text-align:center;
    margin: 45px;
    padding:0.5em;

}

#add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
    width: 100%;
    box-shadow: none;
}

.woocommerce .cart-collaterals h2 {
    background:  var(--default-dark-color);
    color:var(--default-orange-color);
    margin: auto;
    font-size:18px;
    padding:0.8em 20px;
    text-transform:uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.woocommerce table.shop_table {
    border: 1px solid var(--onde-table-border-color);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 0; 
}
#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
    float:none;
    border:3px solid;
}
.shop_table .coupon {
    float:left;
}
.shop_table .coupon input[name="coupon_code"] {
    display: inline-block;
    height: 2.5em;
}
.woocommerce table.shop_table td:not(.product-remove) {
    padding: 9px 12px;
    vertical-align: middle;
    line-height: 1.5em;
}
.woocommerce-cart table.cart td.actions .coupon label {
    display:none;
}
@media screen and (min-width: 1200px){
    table.shop_table_responsive tr th, table.shop_table_responsive tr td {
        text-align: center;
    }
}

@media screen and (min-width:0) and (max-width:765px) {
    .woocommerce table.shop_table {
        border-width:0 2px 0 2px;
        border-style:solid;
        border-color:var(--onde-table-border-color);
        width:100%;
        border-collapse:separate;
    }
    table.shop_table_responsive thead {
        display: none;
    }
    .shop_table tbody {
        width:unset;
      
    }
    .shop_table tr {
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .woocommerce-cart .woocommerce table.shop_table tbody th {
        display:none;
    }
    #add_payment_method table.cart img, .woocommerce-cart table.cart img, .woocommerce-checkout table.cart img {
        width: 100%;
        max-width:200px;
        box-shadow: none;
    }
    .woocommerce-cart .woocommerce table.shop_table tr td {
        display:inline-block;
        width:100%;
        clear:both;
        text-align:right;
        margin:auto;
    }
    .woocommerce-cart .woocommerce table.shop_table tr td.product-thumbnail{
        text-align:center;
    }
    
    .woocommerce-cart .woocommerce table.shop_table tr td:not(.product-remove,.product-thumbnail,td.actions):before{
        content:attr(data-title) ": ";
        font-weight: 600;
        float:left;
        font-size:1.2em;
        letter-spacing: 1px;
        color:var(--default-dark-color);
    }
   
    .woocommerce-cart table.cart td.actions .coupon {
        float:none;
        width:100%;
        text-align:center;
        padding-bottom:1em;
    }
    .woocommerce-cart table.cart td.actions button[name='update_cart'],.woocommerce-cart table.cart td.actions .coupon button[name='apply_coupon'] {
        width:100%;
        max-width:100%;
        display:inline-block;
    }
   
    .woocommerce-cart table.cart td.actions .coupon .input-text {
        width:100%;
        max-width:100%;
        margin:0 0 1em;
    }
    .shop_table .product-remove {
        font-size: 1.5em;
    }

    .shop_table .product-thumbnail,.shop_table .product-name,.shop_table .product-price,.shop_table .product-quantity ,.shop_table .product-subtotal{
        margin:10px;
    }
    .shop_table .product-price{
        display:none;
    }
}
.cart_item .product-name {
    color: #78797a
}
.cart_item .product-name .product-quantity {
    color:var(--default-orange-color);
}

.cart-subtotal td,.order-total td {
    text-align:left;
}
.order-total th {
    font-weight: bold;
}
.woocommerce div.product form.cart table td {
     padding-left: 1em;
}
.woocommerce div.product form.cart .variations td, .woocommerce div.product form.cart .variations th {
    border: 0;
    vertical-align: middle;
    line-height: 2em;
}
table.variations td {
    padding:1em;
}

table.variations td.value a {
    display:inline-block;
}
table.variations td.value .reset-variations {
    padding:0.6em;
}

/******************************************************************************************/
.woocommerce-info, .woocommerce-noreviews, p.no-comments {
    
    background-color: transparent!important;
}
.woocommerce-info {
    border-top-color: var(--default-orange-color);
    box-shadow: var(--onde-light-box-shadow);
    padding: 2em;
    border-radius: 4px;
    text-align: center;

}
.woocommerce-info::before {
    color: var(--default-orange-color);
}
.woocommerce-message,.woocommerce-error {
    text-align:center;
    position:relative;
    display: flex;
    flex-direction: column;
    border-top-width: 4px!important;
    border-top-style:solid;
    list-style: none;
    padding: 1.5em;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.06)!important;
    margin:2.5em auto;
}
.woocommerce-error {
    background-color: #fff;
}
.woocommerce-message,.woocommerce-error,.woocommerce-info {
    line-height: 1.5em;
}

.woocommerce-message a,.woocommerce-error a,.woocommerce-info a {
    display:block;
}
.woocommerce-message {
    border-top-color: var(--default-orange-color)!important;
    background-color: #fff;
}
.woocommerce-message a.button,.woocommerce-error a.button,.woocommerce-info a.button {
    margin: 15px auto;
    padding: 1em;
}
.woocommerce-message .restore-item {
    display: block;
    padding: 1rem;
    width: 150px;
    margin: 1.5em auto;
    border-radius: 5px;
    background: black;
    font-weight: bold;
}
.woocommerce-message:first-child::before {
    content: 'i';
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: 2px solid var(--default-orange-color)!important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0.3em 0.3em;
    position: absolute;
    top: 0.2em;
    left:0;
    color:var(--default-orange-color);
    font-weight: bold;
}
.cart-empty,.return-to-shop {
    text-align:center;
}
@media screen and (min-width:1200px) {
    .woocommerce-message,.woocommerce-error {
        align-items: center;
        justify-content: center;
        width: 70%;
    }
}
/************************* COMMENTS ****************************************/
.comment_container {
    margin-bottom: 40px;
}
.woocommerce #reviews #comments ol.commentlist li {
   list-style: none;
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
    margin: auto;
    border: 3px solid var(--default-dark-color);
    border-radius: 4px;
    padding: 1em 1em 0;
    background:#f9992e1f;
    box-shadow: var(--onde-light-box-shadow);
    letter-spacing: 1px;
}

.woocommerce #reviews #comments ol.commentlist li img.avatar {
   display:none;
}
.woocommerce #reviews #comments ol.commentlist li .meta {
    color: #2b2d2f;
    font-size: .75em;
}
/**************************************************************************/
/***************************LOGIN FORM ************************************/


#customer_login.u-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.u-column1,.u-column2 {
    width: 100%;
    padding: 1.5em;
}
@media screen and (min-width:48em) {
    .u-column1,.u-column2 {
        width: 50%;
    }
}
.u-column1 h2,.u-column2 h2 {
    color:var(--default-orange-color);
}
.woocommerce-button {
    display:block;
}
.woocommerce-form__label-for-checkbox {
    display:flex;
    align-items: center;
}
.woocommerce-form__label-for-checkbox span {
    margin-left:1em;
}
@media screen and (min-width:48em) {
    #customer_login.u-columns {
        flex-direction:row;
        align-items: baseline;
    }
}
/**************************************************************************/
/*************************************************************************/
@media screen and (min-width: 48em){
    ul.products li.product {
    margin-right: auto!important;
    }
}

ul.products.columns-4 li.product {
    position: relative;
    margin:20px auto;
    text-align:center;
}

.woocommerce-loop-product__title,.price {
    text-align:center;
}

.add_to_cart_button,.single_add_to_cart_button {
    text-align:center;
    width:unset!important;
    border:none;
}


.woocommerce-loop-product__title {
    font-size:inherit;
}


.onsale {
    color: #FFFFFF;
    background-color: var(--default-orange-color);
    text-transform:uppercase;
    padding:1em;
    border-radius:100%;
}

.woocommerce span.onsale {
    background-color: var(--default-orange-color);
}
/***********************************validate command form ****************************/
.woocommerce-form-coupon-toggle {
    text-align: center;
    padding: 0.5em;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}
.checkout_coupon.woocommerce-form-coupon {
    padding:0.5em;
    text-align:center;
    margin-bottom:1em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.checkout_coupon.woocommerce-form-coupon input {
   margin:auto;
}
.checkout.woocommerce-checkout{
    margin-top:1em;
    padding:0.5em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.woocommerce-billing-fields h3 {
    font-weight: bold;
    font-size:1.5em;
    text-align: center;
    padding:0.5em;
    margin-bottom:2em;
    margin-top: 1.5em;
}
.woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap:wrap;
    margin-bottom:1.5em;
}

.select2-search.select2-search--dropdown input {
    margin:auto;
}
.col-1 input {
    width:unset;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: var(--default-orange-color);
    line-height: 28px;
}
.select2-results__option[aria-selected], .select2-results__option[data-selected] {
    color: var(--default-orange-color);
    cursor: pointer;
    list-style:none;
}
.select2-container--default .select2-results__option[aria-selected=true], .select2-container--default .select2-results__option[data-selected=true] {
    background-color: #faaf31;
    color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected], .select2-container--default .select2-results__option--highlighted[data-selected] {
    background-color: var(--default-dark-color);
    color: var(--default-orange-color);
    list-style:none;
}
.col-2 .woocommerce-input-wrapper textarea {
    width:100%;
    margin:auto;
    min-height:265px;
    min-width:100%;
    max-width:100%;
}
.woocommerce-additional-fields {
    text-align:center;
}
.woocommerce-additional-fields h3 {
   font-weight: bold;
}
.form-row.notes {
    color: #939598;
}
.form-row.notes .optional,.required {
    color:var(--default-orange-color);
}
#order_review_heading {
    font-weight: bold;
    text-align:center;
    font-size:1.5em;
    padding:0.5em;
    margin-top:1em;
    margin-bottom: 1em;
}
.woocommerce-checkout-review-order {
    padding:0.5em;
    margin:1em auto;

}
.checkout-button.button.alt.wc-forward {
    background:var(--default-dark-color);
    padding:1.2rem;
    border-radius: 4px;
}
.col2-set .form-row-first, .col2-set .form-row-last,.col2-set .form-row-wide {
    width:100%;
    margin:auto;
}
@media screen and (min-width:1200px) {
    .cart_item td {
    text-align:left;
    }
}

@media screen and (min-width: 768px) {
    .col2-set .form-row-first, .col2-set .form-row-last,.col2-set .form-row-wide {
        width: 45%; 
        float:unset;
    }
    .woocommerce-billing-fields__field-wrapper {  
        flex-direction: row;
    }
}


/*********************** pAgination *************************************/

.woocommerce-pagination {
    margin-bottom:1em;
}

.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current {
    background: var(--default-dark-color);
    color: var(--default-orange-color);
}

nav.woocommerce-pagination ul.page-numbers {
    border-radius:4px;
}
nav.woocommerce-pagination ul.page-numbers li:first-child {
    border-radius:4px 0 0 4px;
}
nav.woocommerce-pagination ul.page-numbers li:last-child {
    border-radius:0 4px 4px 0;
}

/***************************** Woocommerce top-bar special offer ***********************/

.woocommerce-store-notice, p.demo_store {
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    margin: 0;
    width: 100%;
    font-size: 1.2em;
    font-family: Marcellus,serif;
    padding: 1em 0;
    text-align: center;
    background-color: hsl(306deg 47% 9% / 78%);
    color: #fff;
    z-index: 100;
    box-shadow: 0 1px 1em rgb(0 0 0 / 20%);
    display: none;
    text-transform:uppercase;
}
.woocommerce-store-notice a, p.demo_store a {
    color: #f9992e;
    text-decoration: underline;
}
.woocommerce-error::before, .woocommerce-info::before, .woocommerce-message::before {
    top: 0;  
}

.woocommerce .woocommerce-form-login .woocommerce-form-login__rememberme {
    display: flex;
}
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
    float: none;
    margin-right: 1em;
}

/* facturation adrr */
header.woocommerce-Address-title.title {
    display:flex;
    flex-direction: column;
}

header.woocommerce-Address-title.title a.edit {
    width: 150px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.woocommerce-account .addresses .title .edit {
    margin-bottom: 10px;
    padding: 0.5em;
    background: var(--default-dark-color);
    border-radius: 4px;
}

/* download page btn adjust */

.woocommerce-Message a.woocommerce-Button {
    float:none;
    display:block;
}